html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.texte {
    text-align: center;
    padding: 50px;
    background-color: #f9f9f9;
    font-size: 24px;
    color: #333;
    min-height: 2000px;
}



footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-evenly;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 100px;
}

.footer_etu_nom{
    opacity: 0;
    transition : opacity .5s linear;
}

.footer_etu:hover .footer_etu_nom{
    opacity: 1;
}

.footer_img {
    max-width: 150px;
    max-height: 150px;
    border: solid yellow 3px;
    transition: transform 0.5s ease;
}

.footer_img:hover{
    transform: scale(2.5);
}

.footer_box {
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
}

.footer_cont {
    margin: 10px;
}