@media (min-width: 765px) {
    body {
        background-image: url("../png/fonds/fond_accueil.png");
        background-size: cover;
        background-attachment: fixed;
        z-index: -1;
        color: white;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content_box {
        width: 75%;
        padding: 5vw;
        border-radius: 5px;
        box-shadow: 1px 0px 5px 5px rgb(151, 151, 151);
        background-color: rgba(70, 69, 69, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vw;
    }

    .titre {
        font-family: "Saira Condensed";
        font-size: 10vw;
        font-weight: bold;
        line-height: 8vw;
    }

    .slogan {
        font-family: "Arial";
        font-size: 1.5vw;
        line-height: 0;
    }

    .top {
        display: flex;
        flex-direction: column;
        padding-top: 10vw;
        line-height: 0;
    }

    .top h1 {
        font-size: 3vw;
    }

    .top_ventes {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }

    .top_ventes button {
        font-size: 3vw;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        padding: 1vw;
        padding-top: 12.3vw;
        padding-bottom: 12.3vw;
    }

    .vente {
        display: flex;
        flex-wrap: nowrap;
        gap: 1vw;
        overflow: hidden;
        scroll-behavior: smooth;

        border: solid black 2px;
        width: 50vw;
        padding: 1vw;

        position: relative;
    }

    .top_ventes .carte {
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        padding: 5px;
        background-color: rgb(41, 41, 41);
        font-family: "Bebas Neue";
        transition: all 0.3s ease;
    }

    .carte a {
        display: flex;
        justify-content: center;
    }

    .top_ventes .carte img {
        width: 15vw;
        height: 15vw;

        border-radius: 3px;
        box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
    }

    .carte:hover {
        transform: scale(1.05);
    }

    .carte.terre img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../png/cartes/fond_terre.png");
        background-size: cover;
    }

    .carte.aire img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../png/cartes/fond_aire.png");
        background-size: cover;
    }

    .carte.eau img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../png/cartes/fond_eau.png");
        background-size: cover;
    }

    .nom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top_ventes .nom h3 {
        margin-bottom: 0px;
        line-height: 0.1vw;
        font-size: 2vw;
    }

    .top_ventes .nom h4 {
        line-height: 0.1vw;
        font-size: 1.5vw;
        font-style: italic;
        opacity: 0.8;
    }

    .top_ventes .attributs {
        font-size: 1vw;
    }

    .reduc {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vw;
    }

    .reduc p {
        font-size: 50px;
        font-weight: bold;
        font-family: 'Arial';
    }

    .reduc_carte {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px
    }

    .reduc .carte {
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        padding: 5px;
        background-color: rgb(41, 41, 41);
        font-family: "Bebas Neue";
        transition: all 0.3s ease;
        border: solid gray 3px;
    }

    .reduc .carte img {
        width: 350px;
        height: 350px;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    }

    .reduc .nom h3 {
        margin-bottom: 0px;
        line-height: 3px;
        font-size: 60px;
    }

    .reduc .nom h4 {
        line-height: 3px;
        font-size: 30px;
        font-style: italic;
        opacity: 0.8;
    }

    .reduc .attributs {
        font-size: 20px;
    }

    .prix_reduc {
        color: red;
    }

    .prix_barre {
        text-decoration: line-through;
        color: gray;
    }
}

@media (max-width: 765px) {
    body {
        background-image: url("../png/fonds/fond_boutique.png");
        background-size: cover;
        background-attachment: fixed;
        z-index: -1;

        color: white;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content_box {
        width: 75%;
        padding: 5vw;
        border-radius: 5px;
        box-shadow: 1px 0px 5px 5px rgb(151, 151, 151);
        background-color: rgba(70, 69, 69, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vw;
    }

    .titre {
        font-family: "Saira Condensed";
        font-size: 15vw;
        font-weight: bold;
        line-height: 8vw;
    }

    .slogan {
        font-family: "Arial";
        font-size: 3vw;
        line-height: 0;
    }

    .top {
        display: flex;
        flex-direction: column;
        padding-top: 10vw;
        line-height: 0;
    }

    .top h1 {
        font-size: 6vw;
    }

    .top_ventes {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }

    .top_ventes button {
        font-size: 3vw;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        margin: 1vw;
        margin-top: 0%;
    }

    .vente {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        overflow: hidden;
        scroll-behavior: smooth;

        border: solid black 2px;
        width: 50vw;
        padding: 1vw;

        position: relative;
    }

    .top_ventes .carte {
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        padding: 5px;
        background-color: rgb(41, 41, 41);
        font-family: "Bebas Neue";
        transition: all 0.3s ease;
    }

    .carte a {
        display: flex;
        justify-content: center;
    }

    .top_ventes .carte img {
        width: 30vw;
        height: 30vw;

        border-radius: 3px;
        box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
    }

    .carte:hover {
        transform: scale(1.05);
    }

    .carte.terre img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../png/cartes/fond_terre.png");
        background-size: cover;
    }

    .carte.aire img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../png/cartes/fond_aire.png");
        background-size: cover;
    }

    .carte.eau img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../png/cartes/fond_eau.png");
        background-size: cover;
    }

    .top_ventes .nom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top_ventes .nom h3 {
        margin-bottom: 0px;
        line-height: 1.2em;
        font-size: 4.5vw;
    }

    .top_ventes .nom h4 {
        line-height: 1.2em;
        font-size: 3.5vw;
        font-style: italic;
        opacity: 0.8;
    }

    .top_ventes .attributs {
        font-size: 2.5vw;
        line-height: 1.2em;
        display: flex;
        flex-direction: column;
        margin: 0.5em 0;   
    }

    .reduc {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vw;
    }

    .reduc p {
        font-size: 40px;
        font-weight: bold;
        font-family: 'Arial';
        margin: 0px;
    }

    .reduc_carte {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .reduc .carte {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        background-color: rgb(41, 41, 41);
        font-family: "Bebas Neue";
        transition: all 0.3s ease;
        width: 50%;
    }

    .reduc .carte img {
        width: 90%;
        aspect-ratio: 1 / 1;
        object-fit: contain;
        border-radius: 10px;
    }

    .reduc .nom h3 {
        margin-bottom: 0px;
        line-height: 3px;
        font-size: 12vw;
    }

    .reduc .nom h4 {
        line-height: 3px;
        font-size: 5vw;
        font-style: italic;
        opacity: 0.8;
    }

    .reduc .attributs {
        font-size: 4vw;
        display: flex;
        flex-direction: column;
    }

    .attributs h3 {
        margin: 0;
    }

    .prix_reduc {
        color: red;
    }

    .prix_barre {
        text-decoration: line-through;
        color: gray;
    }


}


